@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>Z racji iż to jest projekt testowy na zaliczenie Przedmiotu Programowanie IV 4 Semestru Nauki na Politechnice Opolskiej </p><br>
  <p>  Polityka Prywatności ma się tak że jej nie ma</p>
